.app {
    padding: 10px;
}

.btn-dark{
margin-bottom: 1rem;
margin-top: 1rem;
padding: 0.5rem 5rem;
}

.btn-holder{
    text-align: center;
}

.toast-header {
    position: relative;
    text-transform: capitalize;
}

.card-holder{
    text-align: center;
}

.toast-body{
    text-align: left;
}



.btn-danger{
    right: 10px;
    position: absolute;
    padding: 0.2rem;
    line-height: 1;
    background-color: #510000;
    border-color: #510000;
}

.toast.show {
    display: inline-block;
    margin: 10px;
    opacity: 1;
    width: 45%;
    height: 100px;
    overflow: scroll;
}

.nav-link{
    color: #510000;
}

ShoppingList{
    margin: 20px;
}